@import url(https://fonts.googleapis.com/css?family=Poppins:400,700|Poppins:300,400,500,700,900);

.container {
  width: 800px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

/* Fonts */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: normal;
}

/* Background, Header & Footer */
body {
  margin: 0;
  padding: 0;
  background: #ffe674;
  }

.header {
  text-align: center;
  margin: 30px;
}

.footer {
  text-align: center;
  margin: 30px;
}

/* Calculator Grid Positioning */
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  /* min-height: 100vh; */
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  border-radius: 20px;
  }

/* Calculator button styling */
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px, solid #FFFFFF;
    outline: groove;
    background-color: rbga(255, 255, 255, 0.75);
  }

.calculator-grid > button:hover {
  color: white;
  background-color: #cccaca;
}

.operand {
  background-color: #eea84d
}

.span-two {
  grid-column: span 2;
  background-color: #c0c0c0;
}

.bye {
  background-color: #ee524d;
}

/* Output window styling */

.output{
  grid-column: 1 / -1;
  background-color: rgb(151 132 69);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  outline: groove;
  /* word-wrap: break-word; */
  word-break: break-all;
}

.output .previous-operand{
  color: rgba(255,255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand{
  color: white;
  font-size: 2.5rem;
}
